<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>{{ title }}</title>
   <meta name="format-detection" content="telephone=no" />

</head>
   <body>

      <header>
         <h1>GEN Editors Lab Vienna</h1>
      </header>

      <main>
         {% block main %}{% endblock%}
      </main>

      <footer>
         This is a prototype developed during the <a href="http://www.globaleditorsnetwork.org/programmes/editors-lab/orf-editors-lab/">ORF &amp; FJUM Editors Lab</a>. All shown functions and pages are for demonstration purpose only. This prototype is not an official product or any public offer by ORF. <a href="http://news.orf.at/stories/impressum/">Imprint</a>.
      </footer>

   </body>
</html>
