{% extends "base.html" %}

{% block main %}

<div class="orfon-edlab-topic-header orfon-edlab-topic-header--small {% if topic.image != "" %}orfon-edlab--hasImage{% endif %}" {% if topic.image != "" %}style="background-image: url('{{topic.image}}');"{% endif %}>
   <a href="/tp/{{ topic.slug }}"><h2>{{ topic.title }}</h2></a>
</div>

<div class="row">
   <div class="small-12 columns">
      <h3>Frage von {{ question.enquirer.name }}</h3>
   </div>
</div>

<div class="row">
   <div class="small-12 medium-8 columns">
      <blockquote>
         {{ question.text }}
      </blockquote>
   </div>
   <div class="small-12 medium-4 columns">
      {% if question.upvotes > 0 %}
         <p>Gute Frage!</p>
         <div class="stat">
            {{ question.upvotes }}
            <span class="statStar">
               <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 512 512"><path fill="#1D1D1B" stroke="#1D1D1B" stroke-width="37.615" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M259.216 29.942l71.054 143.977 158.89 23.088-114.975 112.073 27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23-114.976-112.073 158.891-23.088z"/></svg>
            </span>
         </div>
      {% endif %}
   </div>
</div>

{% if answers.length > 0 %}
   <div class="row">
      <div class="small-12 columns">
         <h4>Das haben wir herausgefunden</h4>
      </div>
   </div>

   {% for answer in answers %}
   <div class="row">
      <div class="small-12 columns orfon-edlab-question-answer">

         {% if answer.link.length > 0 %}
         <a href="{{ answer.link }}">
         {% endif %}

            <div class="callout">

         <p>{{ answer.text | safe }}</p>
            </div>
         {% if answer.link.length > 0 %}
         </a>
         {% endif %}
      </div>
   </div>
   {% endfor %}

{% endif %}

<div class="row">
   <div class="small-12 columns">
      <a href="/tp/{{ topic.slug }}" class="button">Zurück zur Übersicht</a>
   </div>
</div>


{% endblock %}