{% extends "base.html" %}

{% block main %}
<div class="orfon-edlab-admin">
   <div class="orfon-edlab-topic-header orfon-edlab-topic-header--small {% if topic.image != "" %}orfon-edlab--hasImage{% endif %}" {% if topic.image != "" %}style="background-image: url('{{topic.image}}');"{% endif %}>
      <h2>{{ topic.title }}</h2>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h4>Incoming Questions</h4>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <ul class="orfon-edlab-question-list">
            {% for question in unreviewedQuestions %}
               <li class="incoming">
                  <div class="row">
                     <div class="small-12 large-2 columns">
                        <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/review" class="button tiny hollow">Approve</a>
                        <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/drop" class="button tiny hollow alert">Drop</a>
                     </div>
                     <div class="small-12 large-10 columns">
                        <h4>{{ question.enquirer.name }}<br>{{ question.enquirer.email }}</h4>
                        <p>{{ question.text }}</p>
                     </div>
                  </div>
               </li>
            {% empty %}
               <li>No questions so far.</li>
            {% endfor %}
         </ul>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h4>Waiting for Investigation</h4>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <ul class="orfon-edlab-question-list">
            {% for question in reviewedQuestions %}
            <li class="voting">
               <div class="row">
                  <div class="small-12 large-2 columns">
                     <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/investigate" class="button tiny hollow">Mark as Under Investigation</a>
                  </div>
                  <div class="small-12 large-10 columns">
                     <h4>{{ question.enquirer.name }}<br>{{ question.enquirer.email }}</h4>
                     <p>{{ question.text }}</p>
                  </div>
               </div>
            </li>
            {% empty %}
            <li>No questions so far.</li>
            {% endfor %}
         </ul>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h4>Under Investigation</h4>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <ul class="orfon-edlab-question-list">
            {% for question in investigationQuestions %}
            <li class="investigate">
               <div class="row">
                  <div class="small-12 large-2 columns">
                     <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/editanswers" class="button tiny hollow">Edit Answers</a>
                     <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/answered" class="button tiny hollow">Set Answered</a>
                  </div>
                  <div class="small-12 large-10 columns">
                     <h4>{{ question.enquirer.name }}<br>{{ question.enquirer.email }}</h4>
                     <p>{{ question.text }}</p>
                  </div>
               </div>
            </li>
            {% empty %}
            <li>No questions so far.</li>
            {% endfor %}
         </ul>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h4>Answered</h4>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <ul class="orfon-edlab-question-list">
            {% for question in answeredQuestions %}
            <li class="answered">
               <div class="row">
                  <div class="small-12 large-2 columns">
                     <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/editanswers" class="button tiny hollow">Edit Answers</a>
                     <a href="/admin/topic/{{ topic.slug}}/{{ question.id }}/offline" class="button tiny hollow secondary">Set Offline</a>
                  </div>
                  <div class="small-12 large-10 columns">
                     <h4>{{ question.enquirer.name }}<br>{{ question.enquirer.email }}</h4>
                     <p>{{ question.text }}</p>
                  </div>
               </div>
            </li>
            {% empty %}
            <li>No questions so far.</li>
            {% endfor %}
         </ul>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <a href="/admin/" class="button">Back to Overview</a>
      </div>
   </div>

</div>
{% endblock %}